{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="container">
  <h2 class="text-center">Medicine Detail</h2>
  <div class="table-responsive">
    {% if request.user.is_superuser %}
    <div class="btn-group me-2">
      <a href="/Medicine">
        <button type="button">Add Medicine</button>
      </a>
    </div> 
    {% endif %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          
          
          <th scope="col">ID</th>
          <th scope="col">Medicine Name</th>
          <th scope="col">Cost Price</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Medicine Company's Name</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>

        {% for detail in views %}
          <tr>
            <td>{{ detail.id }}</td>
            <td>{{ detail.medicinename }}</td>
            <td>{{ detail.costprice }}</td>
            <td>{{ detail.sellingprice }}</td>
            <td>{{ detail.medicinecompanyname }}</td>
            <td>
              {% if request.user.is_superuser %}
                <a href="{% url 'medicineupdate' detail.id %}" class="btn btn-warning btn-sm">
                  Update
                </a>
                <form action="{% url 'medicineupdate' detail.id %}" method="post" class="d-inline">{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              {% endif %}
              {% if request.user.is_authenticated and not request.user.is_superuser %}
              {% comment %} <a href="{% url 'cart' detail.id %}" class="btn btn-success btn-sm">
                Add to the cart
              </a> {% endcomment %}
              <form action="{% url 'cart' detail.id  %}" method="post" class="d-inline">{% csrf_token %}
                Qty: <input type="number" value="1" name="qty" min="1" max="100">
                <input type="submit" class="btn btn-danger" value="Add to cart">
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  <a href="/Dashboard">
    <button type="button">Go Back</button>
  </a>
</main>
</div>
</div>
</div>

    
{% endblock body%}